UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mediassist
POSTGRES_USER=mediassist
POSTGRES_PASSWORD=mediassist

# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# ChromaDB
CHROMA_PORT=8001

# Qdrant
QDRANT_PORT=6333

